.jobs-main-cont{

    width:100%;
    background-color: gray;
    
}

.jobs-cont{
    width:100%;
    /* height:100vh; */
    padding: 20px;
    
}

.searchbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline-color: black;
    margin-top: 60px;
}

.topspace-cont{
    z-index:2;
}