.profile-card{
/* 
    background-color: gold; */
    color: #222;
    border-radius: 15px;
}

.filters{
    background-color: #222;
    box-shadow: 2px 4px 19px 2px rgba(0,0,0,0.46);
    border-radius:15px;
    list-style: none;
}


