
.job-details-page {
  background-color: gray;
  color: #e6edf3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-card-dark {
  background: #222;
  border: 1px solid #30363d;
  border-radius: 16px;
  padding: 20px;
  width: 85%;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.3);
  margin-top: 80px;
}

.job-header {
  display: flex;
  flex-direction: column;
}

.job-top {
  display: flex;
  align-items: center;
}

.job-logo {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background: #f9f9f9;
  object-fit: contain;
  margin-right: 15px;
}

.job-info h3 {
  margin: 0;
  font-size: 22px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 4px;
  color: #f4b400;
}

.job-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  flex-wrap: wrap;
}

.meta-item {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  font-size: 15px;
}

.salary {
  font-weight: 600;
  color: white;
}

.divider {
  border: 0;
  border-top: 1px solid #30363d;
  margin: 20px 0;
}

.desc-section {
  margin-bottom: 30px;
}

.desc-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desc-header h4 {
  margin: 0;
  font-size: 18px;
}

.visit-link {
  color: #58a6ff;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.visit-link:hover {
  text-decoration: underline;
}

.desc-text {
  color: #d1d5da;
  line-height: 1.6;
  margin-top: 10px;
  text-align: justify;
}

.skills-section {
  margin-top: 30px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  margin-top: 15px;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1c2128;
  border: 1px solid #30363d;
  border-radius: 10px;
  padding: 15px;
  transition: 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-4px);
  background: #222831;
}

.skill-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.life-section {
  margin-top: 40px;
}

.life-content {
  display: flex;
  gap: 20px;
  margin-top: 15px;
  flex-wrap: wrap;
}

.life-content p {
  flex: 1;
  color: #d1d5da;
  line-height: 1.6;
  text-align: justify;
}

.life-img {
  width: 280px;
  border-radius: 10px;
  object-fit: cover;
}

.loading,
.error {
  text-align: center;
  color: #fff;
  margin-top: 100px;
}

