.home-cont{
    width:100%;
    height: 100vh;
    background-color:#D3D3D3;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.span-align-cont{
    width: 100%;
    height: 70%;
    display: flex;
    
}

.left-cont1{
    width: 45%;
    padding: 15px;
    
}

.right-img-cont{
      width: 55%;
      height:100%;
      background-image: url("/people.jpeg");
      background-size: cover;
      border-radius: 10px;
     background-position: center;
}

.span-align-text-cont{
    display: flex;
}


@media (max-width:767px) {

    .home-cont {
        height: auto; 
        padding: 15px; 

    }


    .span-align-cont {
        flex-direction: column;
        height: auto; 
                margin-top:45px;
    }

    .left-cont1 {
        width: 100%;
        padding: 0px 15px 15px 15px;
    }

    .right-img-cont {
        width: 100%; 
        height: 300px; 
        border-radius: 5px; 
    }
}


