nav{
    width:100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#222;
  
    
}

.nav-cont{
    /* width: 100%; */
    display: flex;
    list-style:none;

}

.linktab{
    width:100%;
    color: white;
    font-size: larger;
    /* text-align: center; */
    text-decoration: none;
    
  
}


.navbar-cont{
    position: fixed;
    z-index:4;
}

