.login-cont{
    width:100%;
    height:100vh;
    padding:20px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ee3ffb;
    background: linear-gradient(319deg,#ee3ffb 0%, rgba(63, 94, 251, 1) 94%);
}

.shadow{
   width:308px;
   background-color: white;
   height:300px;
   

}




.img-cont{
   width:308px;
   height:250px;
   color: white;
   background-image: url("login.jpg");
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
   text-align: center;
 
}

.form-control{
    border: none;
    border-bottom: 2px solid Black;
    border-radius: none;
    
}

.btn1{
       background: linear-gradient(319deg,#ee3ffb 0%, rgba(63, 94, 251, 1) 94%);
       padding: 5px;
       border-radius:5px;
       margin: none;
       border: none;
}

@media (min-width:768px) {

    .img-cont{

        width:550px;
        height:290px;
        
    }

    .shadow{

        width:550px;
    }
    
}


@media (min-width:1024px) {

        .img-cont{

        width:400px;
          height:300px;
        
    }

    .shadow{

        width:400px;
    }

.login-cont{
    flex-direction: row;
}

}

